# =========================
# ENV
# =========================
.venv/
env/
venv/
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# =========================
# IDE / VSCODE
# =========================
.vscode/
.idea/

# =========================
# DATA (IMPORTANT ML PROJECT)
# =========================
data/
logs/
artifacts/
*.log

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/
notebook/

# =========================
# HF / TORCH CACHE (très important pour toi)
# =========================
.cache/
huggingface/
torch/

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db